doctype html
html(ng-app="twerp")
  head
    meta(charset='utf8')
    title Twerp
    link(rel='stylesheet', href='dist/vendor.min.css')
    link(rel='stylesheet', href='dist/twerp.min.css')
  body
    block body
